@import "meta.css"; /* Import document metastyles */

/* Import various properties */
@import "borders.css";
@import "colors.css";
@import "display.css";
@import "orientation.css";
@import "scroll.css";

@import "animations.css"; /* Import animations */

body {
  grid-template-rows: max(10%, 70px) 1fr;
  grid-template-columns: repeat(4, 1fr);
}


/* Form (Invisible at first) */
form {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 110px) 1fr;
  grid-template-areas:
  "title-pair title-pair author-pair author-pair add-book"
  "pages-pair pages-pair read-pair read-pair add-book";
}

.label-input-pair {
  padding-left: 5px;
}

input {
  margin-left: 5px;
  padding-left: 5px;
  width: 140px;
}

#title-pair {
  grid-area: title-pair;
}

#author-pair {
  grid-area: author-pair;
}

#pages-pair {
  grid-area: pages-pair;
}

#read-pair {
  grid-area: read-pair;
}

.add-book-container {
  grid-area: add-book;
}

#add-book {
  grid-area: add-book;
  font-size: 18px;
  font-weight: 600;
  height: 50%;
  width: 50%;
  padding: 5px;
  margin: 5px;
}


/* Button to display form to user */
#display-form-container {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

#display-form {
  font-size: 20px;
  font-weight: 600;
}


/* Bookshelf containing all books from user input */
#bookshelf {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  min-width: 600px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding: 15px;
}

/* CSS for books and their components */
.book {
  grid-template-rows: repeat(5, 1fr);
  opacity: 0.8;
  height: 200px;
  padding: 10px;
}

.remove {
  margin-top: 5px;
  font-weight: 600;
  width: 100%;
}

.title, .author, .pages {
  text-align: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}